#product-table {
  border: 1px solid #e5e5e5;
  box-shadow: 0 6px 25px 3px rgba(0, 0, 0, 0.2);
  display: table;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}
#product-table .product-table-head {
  display: table-header-group;
  height: 60px;
  width: auto;
}
#product-table .product-table-head .product-table-row .column {
  background-color: #f6f7f9;
  color: #767676;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 5px;
  text-align: center;
  font-size: 15px;
}
#product-table .product-table-body {
  display: table-row-group;
}
#product-table .product-table-body .product-table-row {
  height: 85px;
  padding: 0;
}
#product-table .product-table-row {
  display: table-row;
}
#product-table .product-table-row:hover {
  background-color: #F6F7F9;
}
#product-table .product-table-row .column {
  display: table-cell;
  width: auto;
  border-right: 1px solid #e5e5e5;
  vertical-align: middle;
  text-align: left;
  padding: 5px;
  border-bottom: 2px solid #e5e5e5;
}
#product-table .product-table-row .column .product-table-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 17px;
  width: 55px;
}
#product-table .product-table-row .column .product-table-number span {
  color: #7c284e;
  text-align: center;
  line-height: 17px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
}
#product-table .product-table-row .column .product-table-number small {
  color: #b9b9b9;
  font-size: 13px;
}
#product-table .product-table-row .column a img {
  padding: 0 10px;
  width: 80px;
  height: 80px;
}
#product-table .product-table-row .column.column-title a {
  color: #767676;
  display: block;
  text-align: left;
  text-decoration: none;
  padding-right: 30px;
  max-width: 150px;
  width: 100%;
  padding-left: 7px;
  font-size: 15px;
}
#product-table .product-table-row .column:nth-child(4) {
  width: 100px;
  margin: 0 auto;
}
#product-table .product-table-row .column:nth-child(4) span {
  width: 60px;
  text-align: center;
}
#product-table .product-table-row .column:last-child {
  min-width: 190px;
}
#product-table .product-table-row .column:last-child .product-table-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-table .product-table-row .column:last-child .product-table-button a {
  position: relative;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background-color: #7c284e;
  text-align: center;
  border-radius: 30px;
}
#product-table .product-table-row .column:last-child .product-table-button a span {
  position: relative;
  color: white;
  line-height: 32px;
  white-space: pre;
  z-index: 1;
}
#product-table .product-table-row .column:last-child .product-table-button:hover a {
  background-color: #4a001c;
}
#product-table .product-table-row .column:last-child .product-table-button.sale a {
  border: 3px solid #ff9000;
  position: relative;
}
#product-table .product-table-row .column:last-child .product-table-button.sale a::before {
  content: "";
  background-image: url("../img/discount-badge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
}
#product-table .product-table-row .column:last-child .product-table-button.sale a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border: 1px solid #fff;
}
#product-table .product-table-row .column:last-child .product-table-button span {
  display: block;
  color: #767676;
  font-size: small;
  line-height: 1.4;
  margin-top: 3px;
}
#product-table .product-table-row .column .product-table-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-table .product-table-row .column .product-table-rating span {
  color: #767676;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
}
#product-table .product-table-row .column .product-table-rating a {
  color: #767676;
  font-size: x-small;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
}
#product-table .product-table-row .column .product-table-rating a:hover {
  text-decoration: underline;
}
#product-table .product-table-row.highlighted-row {
  background-color: rgb(1, 151, 188);
}
#product-table .product-table-row.highlighted-row .column .product-table-number span {
  color: #d84343;
}
#product-table .product-table-row.highlighted-row .column .product-table-number small {
  color: white;
}
#product-table .product-table-row.highlighted-row .column:nth-child(3) a {
  color: white;
}
#product-table .product-table-row.highlighted-row .column .product-table-rating span {
  color: white;
}
#product-table .product-table-row.highlighted-row .column .product-table-rating a {
  color: white;
}
#product-table .product-table-row.highlighted-row .column:last-child .product-table-button a {
  background-color: #d84343;
}
#product-table .product-table-row.highlighted-row .column:last-child .product-table-button:hover a {
  background-color: #982F2F;
}
#product-table .product-table-row.highlighted-row .column:last-child .product-table-button span {
  color: white;
}
#product-table .product-table-row:last-child .column {
  border-bottom: none;
}

@media (max-width: 991px) {
  #product-table {
    width: 100%;
    box-shadow: none;
    border-collapse: separate;
    border-spacing: 0 20px;
    border: none;
    margin-top: -20px;
  }
  #product-table .product-table-head {
    display: none;
  }
  #product-table .product-table-body {
    border-bottom: none;
  }
  #product-table .product-table-body .product-table-row {
    border-bottom: none;
    box-shadow: 0 6px 25px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  #product-table .product-table-body .product-table-row:hover {
    background-color: #fff;
  }
  #product-table .product-table-body .product-table-row.highlighted-row:hover {
    background-color: rgb(1, 151, 188);
  }
  #product-table .product-table-body .product-table-row.highlighted-row .column .product-table-rating:before {
    color: #fff;
  }
  #product-table .product-table-body .product-table-row .column {
    display: flex;
    justify-content: center;
    border-bottom: 0;
    border-right: 0;
  }
  #product-table .product-table-body .product-table-row .column a {
    text-align: center;
  }
  #product-table .product-table-body .product-table-row .column .product-table-number {
    width: 30px;
    background-color: #7c284e;
    padding: 5px;
    border-radius: 5px;
  }
  #product-table .product-table-body .product-table-row .column .product-table-number span {
    color: white;
    font-weight: 500;
  }
  #product-table .product-table-body .product-table-row .column .product-table-number small {
    color: white;
  }
  #product-table .product-table-body .product-table-row .column:nth-child(2) {
    padding-top: 30px;
  }
  #product-table .product-table-body .product-table-row .column .product-table-button a {
    border-radius: 5px;
  }
  #product-table .product-table-body .product-table-row .column .product-table-button.sale a {
    border-radius: 30px;
  }
  #product-table .product-table-body .product-table-row .column .product-table-button.sale span {
    margin-top: 0;
  }
  #product-table .product-table-body .product-table-row .column .product-table-rating {
    padding-bottom: 5px;
    position: relative;
    margin-top: 20px;
  }
  #product-table .product-table-body .product-table-row .column .product-table-rating:before {
    content: "EVALUARE";
    position: absolute;
    top: -20px;
    color: #767676;
    font-size: 13px;
  }
  #product-table .product-table-body .product-table-row .column.column-title a {
    line-height: 24px;
    padding: 5px;
  }
  #product-table .product-table-body .product-table-row .column:first-child {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
  }
  #product-table .product-table-body .product-table-row .column:last-child {
    border-bottom: none;
    padding-bottom: 30px;
  }
  #product-table .product-table-body .product-table-row.highlighted-row .product-table-number {
    border: 1px solid #fff;
  }
  #product-table .product-table-body .product-table-row.highlighted-row .product-table-number span {
    color: #d84343;
  }
}
/*# sourceMappingURL=product-list.css.map */
