.sidebar {
  max-width: 340px;
  min-width: 250px;
  padding-left: 15px;
  padding-right: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
  line-height: 1.4;
  color: #2c2f34;
  z-index: 1;
}
.sidebar .container-wrapper {
  margin-bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar .container-wrapper .the-subtitle {
  font-family: "Montserrat";
  position: relative;
  font-size: 15px;
  min-height: 15px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #2c2f34;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar .container-wrapper .the-subtitle::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-left: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid #2c2f34;
}
.sidebar .container-wrapper .the-subtitle::after {
  content: "";
  background: #2c2f34;
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.sidebar .container-wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px !important;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #2c2f34;
}
.sidebar .container-wrapper ul {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 30px;
}
.sidebar .container-wrapper ul li {
  font-size: 13.5px;
  line-height: 21px;
  padding: 5px 0 5px 12px;
  position: relative;
}
.sidebar .container-wrapper ul li:first-child {
  padding: 0 0 5px 12px;
}
.sidebar .container-wrapper ul li:first-child::before {
  content: "";
  width: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 8px;
  transform: rotate(45deg);
}
.sidebar .container-wrapper ul li:first-child::after {
  content: "";
  width: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 11px;
  transform: rotate(-45deg);
}
.sidebar .container-wrapper ul li:last-child {
  padding: 5px 0 0 12px;
}
.sidebar .container-wrapper ul li a {
  text-decoration: none;
  color: #333;
}
.sidebar .container-wrapper ul li:hover a {
  color: #591F3D;
}
.sidebar .container-wrapper ul li::before {
  content: "";
  width: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 13px;
  transform: rotate(45deg);
}
.sidebar .container-wrapper ul li::after {
  content: "";
  width: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 16px;
  transform: rotate(-45deg);
}
.sidebar .recente {
  margin-bottom: 0;
  position: sticky;
  top: 20px;
}
.sidebar .recente .the-subtitle {
  color: #2c2f34;
  line-height: 1.4;
}
.sidebar .recente .recente-main a {
  position: relative;
  bottom: 3px;
}
.sidebar .recente .recente-main a img {
  max-width: 275px;
  width: 100%;
  height: auto;
}
.sidebar .recente .recente-main a span {
  position: absolute;
  background-color: #7c284e;
  color: #FFFFFF;
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.85em;
  bottom: 10px;
  right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
}
.sidebar .recente .recente-main:hover a img {
  transition: all 0.3s;
  opacity: 0.85;
}
.sidebar .recente .title {
  color: #333;
  text-decoration: none;
  transition: 0.15s;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.sidebar .recente a.title-link {
  color: #333;
  text-decoration: none;
  transition: 0.15s;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  display: block;
  margin-bottom: 27px;
}
.sidebar .recente a.title-link:hover {
  color: #7c284e;
}
.sidebar .recente .post {
  padding: 7px 0;
}
.sidebar .recente .post a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #333;
}
.sidebar .recente .post a img {
  width: 110px;
  height: 75px;
  margin-right: 15px;
}
.sidebar .recente .post a span {
  font-family: "Montserrat";
  display: block;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  overflow-wrap: break-word;
  margin-left: auto;
}
.sidebar .recente .post:hover a {
  color: #7c284e;
}
.sidebar .recente .post:hover a img {
  transition: all 0.3s;
  opacity: 0.85;
}
.sidebar .recente .post:last-child {
  padding-bottom: 0;
}
@media (max-width: 1110px) {
  .sidebar .recente .post:nth-child(3),
.sidebar .recente .post:nth-child(4) {
    margin-left: -12px;
  }
}
@media (max-width: 991px) {
  .sidebar .recente .post:nth-child(3),
.sidebar .recente .post:nth-child(4) {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .sidebar {
    max-width: 991px;
    margin-top: 15px;
    width: 100%;
    padding: 30px;
    padding-top: 0;
    box-sizing: border-box;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .sidebar .container-wrapper:first-child {
    margin-bottom: 15px;
  }
  .sidebar .recente .recente-content {
    display: flex;
  }
  .sidebar .recente .recente-content .main-container {
    width: 50%;
    margin-right: 30px;
  }
  .sidebar .recente .recente-content .main-container img {
    max-width: 350px;
  }
  .sidebar .recente .recente-content .posts {
    width: 50%;
  }
  .sidebar .recente .recente-content .posts .post {
    padding: 7px 0;
    min-height: auto;
  }
  .sidebar .recente .recente-content .posts .post a {
    justify-content: flex-start;
  }
  .sidebar .recente .recente-content .posts .post a img {
    max-width: 110px;
    width: 100%;
    height: auto;
  }
  .sidebar .recente .recente-content .posts .post a span {
    margin-left: 0;
    height: auto;
    font-weight: 600;
  }
  .sidebar .recente .recente-content .posts .post:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar .container-wrapper {
    padding: 20px 15px;
  }
}
@media (max-width: 670px) {
  .sidebar .recente .recente-content {
    display: flex;
    flex-direction: column;
  }
  .sidebar .recente .recente-content .main-container {
    width: 100%;
    margin-right: 0;
  }
  .sidebar .recente .recente-content .main-container img {
    max-width: 560px;
  }
  .sidebar .recente .recente-content .posts {
    width: 100%;
  }
  .sidebar .recente .recente-content .posts .post:last-child {
    display: block;
  }
}
/*# sourceMappingURL=two-sidebars.css.map */
